<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6">
            <div class="home-container__banner" style="background-image:url('{{ site.theme.link }}/dist/sinem2.jpeg')">
                <div class="banner-desc">
                    <a href="#">
                        <h2>Göz alıcı tunik modelleri</h2>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="home-container__banner" style="background-image:url('{{ site.theme.link }}/dist/sinem1.jpeg')">
                <div class="banner-desc">
                    <a href="#">
                        <h2>Kombininizi en şık aksesuarlarla tamamlayın</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>