<div class="container">
    <div class="row p-1 p-sm-1 my-0 my-sm-4">
        <div class="col-12 col-sm-4 p-0">
            <div class="home-container__banner-small">
                <div class="banner-desc">
                    <a href="#">
                        <img src="dist/sinem4.jpeg" class="img-fluid" alt="">
                        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 p-0">
            <div class="home-container__banner-small">
                <div class="banner-desc">
                    <a href="#">
                        <img src="dist/sinem5.jpeg" class="img-fluid" alt="">
                        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 p-0">
            <div class="home-container__banner-small">
                <div class="banner-desc">
                    <a href="#">
                        <img src="dist/sinem6.jpeg" class="img-fluid" alt="">
                        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>