<div class="home-container">
        {%  include 'inc/home-bigbanner.twig' %}
        {%  include 'inc/home-carousel.twig' %}
        {%  include 'inc/home-bigbanner.twig' %}
        {%  include 'inc/home-smallbanner.twig' %}
        {%  include 'inc/home-bigbanner.twig' %}
    </div>