
<form action="{{ site.link }}" method="get">
    <div class="header-search-wrapper search-wrapper-wide">
        <label for="s" class="sr-only">Arama</label>
        <input type="search" class="form-control" name="s" id="q" placeholder="Ürünlerde ara ..." required>
        <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
    </div><!-- End .header-search-wrapper -->
</form>